<header>
  <mat-toolbar class="header">
    <span> <img src="../epic_games_icon2.png" width="45" alt="epic-games-icon">Free Epic Games!</span>
  </mat-toolbar>
</header>

<section>
  <ng-container *ngIf="isLoading; then loading; else loaded"></ng-container>
</section>


<ng-template #loaded>
  <div class="card-container">
    <ng-container *ngIf="isError; then error"></ng-container>

    <app-game-card [games]="games?.freeGames?.current" [isCurrent]="true"></app-game-card>
    
    <app-game-card [games]="games?.freeGames?.upcoming" [isCurrent]="false"></app-game-card>
  </div>
</ng-template>

<ng-template #loading> <mat-spinner color="accent"></mat-spinner></ng-template>

<ng-template #error>
  <span>
    <mat-icon>error</mat-icon> Sorry, too many request (100 per month)
  </span>
</ng-template>