:root {
  --light-black: #2c2c2c;
  --dark-black: #212121;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--light-black);
}

.card-container {
  height: 85vh;
  display: flex;
  justify-content: center;
}